# LangChain Core
langchain
langchain-core
ipykernel
langchain-community
streamlit

langchain-ollama
# Groq Integration
groq
langchain-groq

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface_hub
sentence_transformers

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn